body{
    font-family: 'Kanit', sans-serif;
    background-image: url("book.jpg");
    background-size: 2200px 1200px;
  }
  #logout{
          position: relative;
          left:500px;
          padding: 5px;
          font-size: 23px;
       
    }
    #obj{
      font-size: 50px;
      position: relative;
      margin-bottom: 20px;
      left: 750px;
      top: 20px;
      border-style:solid;
    }   
    #name-label{
        position: relative;
        left: 50px;
        top:50px;
        font-size: 40px;
      }
      #name{
        width: 500px;
        position: relative;
        left:50px;
        top:50px;
        font-size: 40px;
      }
      #code-label{
        position: relative;
        left: 50px;
        top:50px;
        font-size: 40px;
      }
      #code{
        width: 500px;
        position: relative;
        left: 50px;
        top:50px;
        font-size: 40px;
      }
      #faculty-label{
        position: relative;
        left: 50px;
        top:50px;
        font-size: 40px;
      }
      #faculty{
        width: 500px;
        position: relative;
        left: 50px;
        top:50px;
        font-size: 40px;
      }
      #department-label{
        position: relative;
        left: 50px;
        top:50px;
        font-size: 40px;
      }
      #department{
        width: 500px;
        position: relative;
        left: 50px;
        top:50px;
        font-size: 40px;
      }
      #email-label{
        position: relative;
        left: 900px;
        bottom:515px;
        font-size: 40px;
      }
      #email{
        width: 500px;
        position: relative;
        left: 900px;
        bottom:515px;
     
        font-size: 40px;
      }
    #submitinfo{
      position: relative;
      left: 900px;
      bottom: 450px;
      margin-bottom: 40px;
      font-size:34px;
    }
    /*nav link animation*/
    .nav-link{
      padding: 20px;
      font-size: 30px;
    }
  .nav-link span {
    cursor: pointer;
  
    position: relative;
    transition: 0.5s;
  }
  
  .nav-link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .nav-link:hover span {
    padding-right: 25px;
  }
  
  .nav-link:hover span:after {
    opacity: 1;
    right: 0;
  }