
h1 {

margin-left:600px;
font-size:65px;
 border: 12px solid transparent;
  padding: 15px;
  border-image: url(border1.jpg) 100 round;
  display: inline-block;
background-color: beige;
padding:10px;
text-shadow: 0 0 40px ;

}

body {
  background-image: url("bg.jpg");
  
  background-repeat: no-repeat;
  background-attachment: fixed;
   border: 30px solid transparent;
  padding: 50px;
  border-image: url(bgborder.jpg) 240 round;
}

h2 {
	
margin-left:660px;
margin-top:20px;
margin-bottom:20px;

font-family:"Lucida Console", Monaco, monospace;
font-size:25px;
border: 12px solid transparent;
  padding: 15px;
  border-image: url(border1.jpg) 100 round;
  display: inline-block;
background-color: beige;
padding:10px;
text-shadow: 0 0 40px ;
}

h3 {
margin-left:-100px;
margin-top:20px;
margin-bottom:20px;
font-family:"Lucida Console", Monaco, monospace;
font-size:25px;
border: 12px solid transparent;
  padding: 15px;
  border-image: url(border1.jpg) 100 round;
  display: inline-block;
background-color: beige;
padding:10px;
position: relative;
animation-name: animations;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes animations {
  0%   {left:0px; top:0px;}
  25%  {left:20px; top:0px;}
  50%  {left:40px; top:0px;}
  75%  {left:20px; top:0px;}
  100% {left:0px; top:0px;}
}
ul li {
letter-spacing:2px;
margin-left:1400px;
font-family:"Lucida Console", Monaco, monospace;
font-size:13px;

}
.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: brown;
	text-shadow: 0 0 3px ;
	}
.sidebar li a:visited {
	color: darksalmon;
	text-shadow: 0 0 3px ;
	}

a:visited {
color:blue;
}

a:link {
color:brown;
}
a:hover{
	background-color: silver;
}

footer {
background-image: linear-gradient(beige, silver);
margin-left:1550px;
font-family:"Lucida Console", Monaco, monospace;
font-size:15px;
box-shadow:2px 2px;

display:grid;
background-color:beige;
padding:5px;
text-shadow: 0 0 3px gold;

}



div.summary{
	margin-left:400px;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:15px;
box-shadow:5px 10px;
display:inline-block;
background-color:wheat;
padding:5px;
text-shadow: 0 0 3px;
background-image: linear-gradient(to right, beige,silver);
border:4px double;

}

div.preamble,div.explanation,div.participation,div.benefits,div.requirements {
letter-spacing:2px;

font-family:"Lucida Console", Monaco, monospace;
font-size:15px;

border: 12px solid transparent;
  padding: 15px;
  border-image: url(border1.jpg) 100 round;
  display: inline-block;
background-color: burlywood;
padding:10px;
text-shadow: 0 0 40px ;

 

}

h3.select,h3.archives,h3.resources {
letter-spacing:2px;
margin-left:1400px;
font-family:"Lucida Console", Monaco, monospace;
font-size:15px;
padding:10px;
text-shadow: 2px 2px 8px aquamarine;

}
.page-wrapper { 
	margin-left:100px;
	margin-bottom: 0px;	
	background-image: url(img2.jpg), url(img4.jpg),url(vintage.jpg);
  background-position: left bottom, left top,right top;
  background-repeat: no-repeat, no-repeat,no-repeat;
  background-size: 1200px 500px , 350px 300px,350px 300px;

	
	}
